* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.circulo-amarelo,
.quadrado-azul1,
.quadrado-azul2 {
  height: 100px;
  width: 100px;
  border: solid black;
}

#circulo {
  justify-content: end;
  display: flex;
}

#quadrados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circulo-amarelo {
  border-radius: 50%;
  background-color: yellow;
}

.quadrado-azul1,
.quadrado-azul2 {
  background-color: blue;
}
